<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/logincss.css">
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <h1>Login</h1>
      <button onclick="location.href='/student-login'" class="login-btn">Login as Student</button>
      <button onclick="location.href='/college-login'" class="login-btn">Login as College</button>
    </div>
  </div>
  
  
  <footer>
    <p>&copy; 2024 Event Connector. All Rights Reserved.</p>
    <ul>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </footer>
</body>
</html>
