<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Profile</h1>
  <p>Email: <%= email %></p>
  <p>Name: <%= name %></p>
  <% if (collegeName) { %>
    <p>College Name: <%= collegeName %></p>
  <% } %>
</body>
</html>
