body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  margin: 0 10px;
}

aside {
  position: fixed;
  top: 100px;
  left: 10px;
  width: 200px;
}

main {
  margin-left: 220px;
  padding: 20px;
}

#latest-events {
  margin-top: 20px;
}
